# Node dependencies
node_modules/
npm-debug.log

# Build files
dist/
build/

# Database & Environment
*.sqlite
*.sqlite-shm
*.sqlite-wal
.env
.env.local
coverage/

# VS Code & OS files
.vscode/
.DS_Store
Thumbs.db
